{% extends "layouts/main.html" %}

{% set pageName = 'View your education data (VYED)' %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

<h1 class="govuk-heading-xl">{{pageName}}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      
      <p>The VYED service helps organisations working with the Department for Education (DfE) make better decisions using data.</p>
      <p>You can use it to access interactive dashboards and reports based on the data your organisation submits.</p>
      <h1 class="govuk-heading-m">Before you start</h1>
      <p>You’ll need a DfE Sign-in account to access VYED. You can <a href="">create a DfE Sign-in account </a>if you do not have one. </p>
      <h1 class="govuk-heading-m">Guidance</h1>
      <p>If you are an approver, <a href="">read the approver guidance</a> to learn how to manage access requests.</p>
      <p>If you are a user from a learning provider, responsible body or a DfE partner organisation, <a href="">read our user guidance</a> to learn how to get access to VYED.</p>

     {{ govukButton({
  text: "Start now",
  href: "/user-type",
  isStartButton: true
}) }}

      <h1 class="govuk-heading-m">Further support</h1>
      <p>You can contact us via the <a href="">Customer Help Portal </a>if you have any questions.</p>

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
