{% extends "layouts/main.html" %}

{% set pageName = 'Before you continue' %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      {{ govukBackLink({
        text: "Back",
        href: "/user-type"
      }) }}
    </div>
  </div>

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
       <h1 class="govuk-heading-l">{{pageName}}</h1>
      <p>This sign in option is for internal Department for Education (DfE) users only.</p>
      <p>By clicking "Continue", you agree to use your Microsoft account details to sign in to View your education data (VYED). </p>

      {{ govukButton({
        text: "Continue",
        href: "#"
      }) }}

      <h1 class="govuk-heading-m">Further support</h1>
      <p>You can contact us via the <a href="">Customer Help Portal </a>if you have any questions. </p>


  

    </div>

  </main>
</div>





    </div>
  </div>

{% endblock %}
