{% extends "layouts/main.html" %}

{% set pageName = 'What type of organisation do you work for?' %}


{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-width">
      {{ govukBackLink({
        text: "Back",
        href: "/landing-page"
      }) }}
    </div>
  </div>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukRadios({
        name: "A learning",
        fieldset: {
          legend: { 
            text: pageName,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        value: data.new.userType,
        items: [
          {
            value: "A learning provider (a school, academy, college or further education provider)",
            text: "A learning provider (a school, academy, college or further education provider)"
          },
          {
            value: "A responsible body (academy trust, mayoral combined authority or local authority)",
            text: "A responsible body (academy trust, mayoral combined authority or local authority)"
          },
           {
            value: "A Department for Education partner organisation (another government department or agency like the Cabinet Office)",
            text: "A Department for Education partner organisation (another government department or agency like the Cabinet Office)"
          },
           {
            value: "The Department for Education",
            text: "The Department for Education"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue",
        href: "/sign-in"
      }) }}

    
      </div>
    </div>
  </main>
</div>
    </div>
  </div>

{% endblock %}
